/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 90rem;
  height: 22rem;
  background: #363636;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

/* Product Card */

.product-card {
  margin: 2px;
  width: 150%;
  height: 89%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-img {
  width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 1.2rem;
}

.product-card h3 {
  font-size: 0.75rem;
}

/* Discount Card */

.discount-card {
  text-align: center;
  padding: 0;
  margin: 10px;
  line-height: 1;
  color: #fff;
  width: 150%;
  height: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount-card-img {
  width: 10rem;
  height: auto;
}
